[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "modes/rhtml"]
	path = modes/rhtml
	url = git@github.com:eschulte/rhtml.git
[submodule "extensions/recall-position"]
	path = extensions/recall-position
	url = git@github.com:cjohansen/recall-position.el.git
[submodule "extensions/perspective-el"]
	path = extensions/perspective-el
	url = git@github.com:magnars/perspective-el.git
