[submodule "rhtml"]
	path = rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "modes/rhtml"]
	path = modes/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "modes/yaml"]
	path = modes/yaml
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "modes/lua"]
	path = modes/lua
	url = git://github.com/augustl/lua-mode.git
[submodule "modes/apache"]
	path = modes/apache
	url = git://github.com/augustl/apache-mode.git
[submodule "modes/vcl"]
	path = modes/vcl
	url = git://github.com/augustl/vcl-mode.git
[submodule "modes/js3-mode"]
	path = modes/js3-mode
	url = git://github.com/thomblake/js3-mode.git
[submodule "extensions/recall-position"]
	path = extensions/recall-position
	url = git://github.com/cjohansen/recall-position.el.git
